<ul class="[ list-bare list-inline ] [ breadcrumb ]">
    <li class="[ breadcrumb__item ]">
        <a href="/">Home</a>
    </li>
    <li class="[ breadcrumb__item ]">
        <a href="">Press Area</a>
    </li>
    <li class="[ breadcrumb__item ]">
        <a href="">Press Releases</a>
    </li>
</ul>