<div class="rep-result u-mb- u-mt">
    <div class="rep-result__inner">
        <h4 class="[ u-mb ] [ strong ]">VENEZUELA</h4>
        <div class="u-mb+">
            <span class="strong">FEVAP - Federación Venezolana de Agencias de Publicidad<br />
            Calle los Laboratorios</span><br />
            Torre Beta Piso 3 Oficina 307 Los Ruices Caracas Venezuela<br />
            Caracas<br />
            1071<br />
            <span class="strong">Tel:</span> +58 212 232 8889<br />
            <span class="strong">Fax:</span> 0212 - 237661<br />
        </div>
        <div>
            <ul class="[ list-bare ]">
                <li class="project-layout u-mb+">
                    <div class="project-layout__item u-1/3-lap-and-up">
                        <img class="circ" src="/images/default-user-icon-profile.png" alt="">
                    </div>
                    <div class="project-layout__item u-2/3-lap-and-up">
                        <span class="strong">Susan Lilley</span><br />
                        Director, Cannes Lions Partnership<br />
                        <a class="strong" href="">Susan.Lilley@ncm.com</a><br />
                        (+1) 212-931-8100
                    </div>
                </li>
                <li class="project-layout">
                    <div class="project-layout__item u-1/3-lap-and-up">
                        <img class="circ" src="/images/default-user-icon-profile.png" alt="">
                    </div>
                    <div class="project-layout__item u-2/3-lap-and-up">
                        <span class="strong">Susan Lilley</span><br />
                        Director, Cannes Lions Partnership<br />
                        <a class="strong" href="">Susan.Lilley@ncm.com</a><br />
                        (+1) 212-931-8100
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>