<footer class="[ page-foot ]">
    <div class="[ container container--content-pad--both ]">
        <div class="project-layout">
            <div class="project-layout__item u-2/4-lap-and-up">
                <h3 class="page-footer--heading [ text-underline-style ]">USEFUL LINKS</h3>
                <div class="project-layout project-layout--flush">
                    <div class="project-layout__item u-1/2-lap-and-up ">
                        <ul class="link-list [ list-bare ]">
                            <li class="link-list__item">
                                <a id="phfooter_0_phfootercontent_0_rptFooterLinkList_lnkListLink_0" href="/About-eurobest">About eurobest</a>
                            </li>
                            <li class="link-list__item">
                                <a id="phfooter_0_phfootercontent_0_rptFooterLinkList_lnkListLink_1" href="/Contact-us">Contact us</a>
                            </li>
                            <li class="link-list__item">
                                <a id="phfooter_0_phfootercontent_0_rptFooterLinkList_lnkListLink_2" href="/Latest-news">Latest news</a>
                            </li>
                            <li class="link-list__item">
                                <a id="phfooter_0_phfootercontent_0_rptFooterLinkList_lnkListLink_3" href="/Your-local-representative">Rep finder</a>
                            </li>
                        </ul>
                    </div>
                    <div class="project-layout__item u-1/2-lap-and-up ">
                        <ul class="link-list [ list-bare ]">
                            <li class="link-list__item">
                                <a id="phfooter_0_phfootercontent_0_rptFooterLinkList_lnkListLink_4" href="/Plan-your-trip/About-Rome">About Lions Festivals</a>
                            </li>
                            <li class="link-list__item">
                                <a id="phfooter_0_phfootercontent_0_rptFooterLinkList_lnkListLink_5" href="/Our-Awards/Conditions-of-Entry">Conditions of Entry</a>
                            </li>
                            <li class="link-list__item">
                                <a id="phfooter_0_phfootercontent_0_rptFooterLinkList_lnkListLink_6" href="/Terms-and-Conditions">Terms and Conditions</a>
                            </li>
                            <li class="link-list__item">
                                <a id="phfooter_0_phfootercontent_0_rptFooterLinkList_lnkListLink_7" href="/Privacy-Policy">Privacy Policy</a>
                            </li>  
                        </ul>
                    </div>
                </div>
            </div>
            <div class="project-layout__item u-1/4-lap-and-up">
                <h3 class="page-footer--heading [ text-underline-style ]">GET INVOLVED</h3>
                <ul class="link-list [ list-bare ]">
                    <li class="link-list__item">
                        <a id="phfooter_0_phfootercontent_1_rptFooterLinkList_lnkListLink_0" href="/Get-involved-in-2016">Get involved in 2016</a>
                    </li>
                    <li class="link-list__item">
                        <a id="phfooter_0_phfootercontent_1_rptFooterLinkList_lnkListLink_1" href="/Sponsors-and-partners/Opportunities">Opportunities</a>
                    </li>
                    <li class="link-list__item">
                        <a id="phfooter_0_phfootercontent_1_rptFooterLinkList_lnkListLink_2" href="/Sponsors-and-partners/Festival-sponsors">Festival sponsors</a>
                    </li>
                    <li class="link-list__item">
                        <a id="phfooter_0_phfootercontent_1_rptFooterLinkList_lnkListLink_3" href="/Sponsors-and-partners/Media-supporters">Media supporters</a>
                    </li>
                </ul>
            </div>
            <div class="project-layout__item u-1/4-lap-and-up">
                <h3 class="page-footer--heading [ text-underline-style ]">LIONS FESTIVALS</h3>
                <ul class="link-list [ list-bare ]">
                    <li class="link-list__item">
                        <a id="phfooter_0_phfootercontent_1_rptFooterLinkList_lnkListLink_0" href="/Get-involved-in-2016">Cannes Lions</a>
                    </li>
                    <li class="link-list__item">
                        <a id="phfooter_0_phfootercontent_1_rptFooterLinkList_lnkListLink_1" href="/Sponsors-and-partners/Opportunities">Eurobest</a>
                    </li>
                    <li class="link-list__item">
                        <a id="phfooter_0_phfootercontent_1_rptFooterLinkList_lnkListLink_2" href="/Sponsors-and-partners/Festival-sponsors">Spikes Asia</a>
                    </li>
                    <li class="link-list__item">
                        <a id="phfooter_0_phfootercontent_1_rptFooterLinkList_lnkListLink_3" href="/Sponsors-and-partners/Media-supporters">AMES 2016</a>
                    </li>
                    <li class="link-list__item">
                        <a id="phfooter_0_phfootercontent_1_rptFooterLinkList_lnkListLink_3" href="/Sponsors-and-partners/Media-supporters">Dubai Lynx</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="sub-footer">
       <div class="sub-footer__inner container">
            <div class="project-layout">
                <div class="social project-layout__item u-1/2-lap-and-up">
                    <a href="">Cookie &amp; Privacy Policy</a>
                </div>
                <div class="copyright__text project-layout__item u-1/2-lap-and-up text--right">
                    &copy; Lions Festivals 2016
                </div>
            </div>
       </div>
    </div>
</footer>