<h2>CONTACT US</h2>


<div class="project-layout">
    <div class="project-layout__item u-1/3-lap-and-up">
        <div class="address [ u-mb ]">
            <a href="" class="[ strong ]">Cannes Lions International Festival of Creativity</a><br />
            <a href="" class="[ strong ]">Lions Health</a><br />
            <a href="" class="[ strong ]">Lions Innovation</a><br />
            33 Kingsway<br />
            London <br />
            WC2B 6UF <br />
            United Kingdom<br />
            <span class="[ strong ]">Tel:</span> +44 (0)20 3033 4000<br />
            <span class="[ strong ]">Fax:</span> +44 (0)20 3070 0004
        </div>
        <div class="address [ u-mb ]">
            <a href="" class="[ strong ]">Eurobest</a><br />
            33 Kingsway<br />
            London <br />
            WC2B 6UF <br />
            United Kingdom<br />
            <span class="[ strong ]">Tel:</span> +44 (0)20 3033 4000<br />
            <span class="[ strong ]">Fax:</span> +44 (0)20 3070 0004
        </div>
        <div class="address [ u-mb ]">
            <a href="" class="[ strong ]">Dubai Lynx - International Festival of Creativity</a><br />
            33 Kingsway<br />
            34th floor<br />
            Media One Tower<br />
            Dubai Media City<br />
            PO BOX 2331<br />
            Dubai<br />
            United Arab Emirates<br />
            <span class="[ strong ]">Dubai Office Tel:</span> +971 (0) 4 427 3000<br />
            <span class="[ strong ]">UK Office Tel:</span> +44 (0)20 3033 4000<br />
            <span class="[ strong ]">Fax:</span> +44 (0)20 3070 0004
        </div>
    </div>
    <div class="project-layout__item u-1/3-lap-and-up">
        <div class="address [ u-mb ]">
            <a href="" class="[ strong ]">Spikes Asia</a><br/>
            #05-05 Infinite Studios<br/>
            21 Media Circle<br/>
            Singapore 138562<br/>
            <span class="[ strong ]">Tel:</span> +65 6224 6101<br/>
            <span class="[ strong ]">Fax:</span> +65 6224 6102
        </div>
        <div class="address [ u-mb ]">
            <a href="" class="[ strong ]">Festival of Asian Marketing Effectiveness</a><br/>
            #05-05 Infinite Studios<br/>
            21 Media Circle<br/>
            Singapore 138562<br/>
            <span class="[ strong ]">Tel:</span> +65 6224 6101<br/>
            <span class="[ strong ]">Fax:</span> +65 6224 6102
        </div>
    </div>
    <div class="project-layout__item u-1/3-lap-and-up">
        <div class="form-group">
            <h3>FIND YOUR<br /> REPROSENTATIVES</h3>
            <select class="form-control form-control--dark select select--dark" name="" id="">
                <option value="">VENEZUELA</option>
            </select>
            {{> find-rep-result}}
        </div>
    </div>
</div>