<ul class="project-layout project-layout--tiny">
    <li class="project-layout__item u-1/4-lap-and-up ">{{> team-card}}</li>
    <li class="project-layout__item u-1/4-lap-and-up ">{{> team-card}}</li>
    <li class="project-layout__item u-1/4-lap-and-up ">{{> team-card}}</li>
    <li class="project-layout__item u-1/4-lap-and-up ">{{> team-card}}</li>
    <li class="project-layout__item u-1/4-lap-and-up ">{{> team-card}}</li>
    <li class="project-layout__item u-1/4-lap-and-up ">{{> team-card}}</li>
    <li class="project-layout__item u-1/4-lap-and-up ">{{> team-card}}</li>
    <li class="project-layout__item u-1/4-lap-and-up ">{{> team-card}}</li>
</ul>