<h2>SPONSORSHIP</h2>

<p class="lede">While many may think eyes are fixed purely on stages during our events, every aspect of the business has become a platform for exposure. And that’s why so many brands choose to work with us as the most effective way of forging connections with the branded communications industry.</p>

<p>The world meets at our festivals each year ready to do business, and there are multiple opportunities for exposure and engagement. We tailor commercial solutions so that every brand we work with is perfectly positioned to engage their desired audience. Our partners and sponsors range from established household names to newly launched products, advertising agencies to technology platforms, government associations to production houses, and all points in between.</p>