<div class="nav-bar nav-bar--main">
    <nav class="[ container text--center ]">
        <ul class="[ site-nav ] [ list-inline ]">
            <li class="[ site-nav__item ]">
                <a class="[ site-nav__link site-nav__link--about ]" href="/#about">About</a>
            </li>
            <li class="[ site-nav__item ]">
                <a class="[ site-nav__link site-nav__link--news-events ]" href="/#news-events">News &amp; Events</a>
            </li>
            <li class="[ site-nav__item ]">
                <a class="[ site-nav__link site-nav__link--sponsorship ]" href="/#sponsorship">Sponsorship</a>
            </li>
            <li class="[ site-nav__item ]">
                <a class="[ site-nav__link site-nav__link--team ]" href="/#team">Team</a>
            </li>
            <li class="[ site-nav__item ]">
                <a class="[ site-nav__link site-nav__link--contact ]" href="/#contact">Contact</a>
            </li>
            <li class="[ site-nav__item ]">
                <a class="[ site-nav__link site-nav__link--press-area ] [ active ]" href="/press/contact-us/">Press Area</a>
            </li>
            <li class="[ site-nav__item ]">
                <a class="[ site-nav__link site-nav__link--careers ]" href="/careers/">Careers</a>
            </li>
        </ul>
    </nav>
</div>
