<div class="nav-bar nav-bar--main">
    <nav class="[ container text--center ]">
        <ul class="[ site-nav ] [ list-inline ]">
            <li class="[ site-nav__item ]">
                <a class="[ site-nav__link site-nav__link--about ] [ strong ] [ active ]" href="/#about">About</a>
            </li>
            <li class="[ site-nav__item ]">
                <a class="[ site-nav__link site-nav__link--news-events ] [ strong ]" href="/#news-events">News &amp; Events</a>
            </li>
            <li class="[ site-nav__item ]">
                <a class="[ site-nav__link site-nav__link--sponsorship ] [ strong ]" href="/#sponsorship">Sponsorship</a>
            </li>
            <li class="[ site-nav__item ]">
                <a class="[ site-nav__link site-nav__link--team ] [ strong ]" href="/#team">Team</a>
            </li>
            <li class="[ site-nav__item ]">
                <a class="[ site-nav__link site-nav__link--contact ] [ strong ]" href="/#contact">Contact</a>
            </li>
            <li class="[ site-nav__item ]">
                <a class="[ site-nav__link site-nav__link--press-area ] [ strong ]" href="/press/contact-us/">Press Area</a>
            </li>
            <li class="[ site-nav__item ]">
                <a class="[ site-nav__link site-nav__link--careers ] [ strong ]" href="/careers/">Careers</a>
            </li>
        </ul>
    </nav>
</div>
