<div class="press-release-item">
    <a class="" href="">
        <div class="project-layout">
            <div class="project-layout__item u-1/5-lap-and-up ">
                <img src="http://placehold.it/150x150">
            </div>
            <div class="project-layout__item u-4/5-lap-and-up ">
                <span class="press-release-title">consectetur adipisicing elit</span>
                <p class="press-release-leader">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis quam explicabo nam commodi reiciendis minus voluptatum cumque fuga soluta tempore est et ab optio, modi unde fugiat eligendi sed perspiciatis?</p>
            </div>
        </div>
    </a>
</div>