<div class="nav-bar nav-bar--secondary">
    <nav class="[ container text--center ]">
        <ul class="[ site-nav ] [ list-inline ]">
            <li class="[ site-nav__item ]">
                <a class="[ site-nav__link site-nav__link--press-releases ] [ active ]" href="/press/press-releases/">Press Releases</a>
            </li>
            <li class="[ site-nav__item ]">
                <a class="[ site-nav__link site-nav__link--mailing-list ]" href="/press/mailing-list/">Mailing List</a>
            </li>
            <li class="[ site-nav__item ]">
                <a class="[ site-nav__link site-nav__link--contact-us ]" href="/press/contact-us/">Contact Us</a>
            </li>
        </ul>
    </nav>
</div>