<div class="team-member-card">
    <div class="team-member-card__inner">
        <img class="team-member-image" src="/images/team/philip-thomas.jpg" alt="">
    </div>
    <div class="team-member-plaque">
       <div class="team-member-plaque__inner">
            <span class="member-name strong">Philip Thomas</span>
            <span class="member-title strong">CEO</span>
       </div>
    </div>
    <div class="team-member-bio-sneak">
       <div class="team-member-bio-sneak__inner">
            Philip Thomas is CEO of Lions Festivals. He began his career as a journalist, working on national and international magazines and newspapers, and editing Empire, the UK’s biggest-selling movie magazine, before moving into publishing.He was Managing Director of FHM Worldwide, taking the UK edit
        </div>
    </div>
    <div class="team-member-action-panel">
        <a href="">Read more</a>
    </div>
</div>