<!DOCTYPE html>
<html class="no-js" lang="en">

	{{> head meta-title=home.meta-title meta-description=home.meta-description}}

	<body class="index">


        <header class="[ page-head ]">
            {{> navigation}}
            {{> subnavigation}}
        </header>
        
 
        <div class="container container--medium container--content-offset--both">
            <h1>Contact Us</h1>
            <p>Please use the drop-down box below to select the most appropriate contact for your enquiry.
Alternatively you may like to contact your local Lions Festivals <a href="">representative</a> with your enquiry.<br /> 
            <span class="[ strong ]">Required fields *</span></p>
            <div class="project-layout">
                <div class="project-layout__item u-1/2-lap-and-up ">
                    <div class="form-group">
                       <label class="[ u-mb-- ] [ strong ]" for="">Send my request to: *</label>
                        <select class="form-control form-control--light select select--light" name="" id="">
                            <option value="">United Kingdom</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="[ u-mb-- ] [ strong ]" for="">First name: *</label>
                        <input class="form-control form-control--light" type="text">
                    </div>
                    <div class="form-group">
                        <label class="[ u-mb-- ] [ strong ]" for="">Last name: *</label>
                        <input class="form-control form-control--light" type="text">
                    </div>
                    <div class="form-group">
                        <label class="[ u-mb-- ] [ strong ]" for="">Job title: *</label>
                        <input class="form-control form-control--light" type="text">
                    </div>
                    <div class="form-group">
                        <label class="[ u-mb-- ] [ strong ]" for="">Job role: *</label>
                        <select class="form-control form-control--light select select--light" name="" id="">
                            <option value="">Please choose..</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="[ u-mb-- ] [ strong ]" for="">Country: *</label>
                        <select class="form-control form-control--light select select--light" name="" id="">
                            <option value="">Please choose..</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="[ u-mb-- ] [ strong ]" for="">Fax: *</label>
                        <input class="form-control form-control--light" type="text" value="">
                    </div>
                    <div class="form-group">
                        <label class="[ u-mb-- ] [ strong ]" for="">Email: *</label>
                        <input class="form-control form-control--light" type="text" value="">
                    </div>
                </div>
                <div class="project-layout__item u-1/2-lap-and-up ">
                    <div class="form-group">
                        <label class="[ u-mb-- ] [ strong ]" for="">Company: *</label>
                        <input class="form-control form-control--light" type="text">
                    </div>
                    <div class="form-group">
                        <label class="[ u-mb-- ] [ strong ]" for="">Company type: *</label>
                        <select class="form-control form-control--light select select--light" name="" id="">
                            <option value="">Please choose..</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="[ u-mb-- ] [ strong ]" for="">Address: *</label>
                        <input class="form-control form-control--light" type="text">
                    </div>
                    <div class="form-group">
                        <label class="[ u-mb-- ] [ strong ]" for="">City: *</label>
                        <input class="form-control form-control--light" type="text">
                    </div>
                    <div class="form-group">
                        <label class="[ u-mb-- ] [ strong ]" for="">Postcode: *</label>
                        <input class="form-control form-control--light" type="text">
                    </div>
                    <div class="form-group">
                        <label class="[ u-mb-- ] [ strong ]" for="">Your Company Website: *</label>
                        <input class="form-control form-control--light" type="text" value="http://">
                    </div>
                    <div class="form-group">
                        <label class="[ u-mb-- ] [ strong ]" for="">Telephone: *</label>
                        <input class="form-control form-control--light" type="text" value="">
                    </div>
                </div>
                <div class="project-layout__item u-1/1-lap-and-up ">
                    <div class="form-group">
                        <label class="[ u-mb-- ] [ strong ]" for="">Telephone: *</label>
                        <textarea rows="6" class="form-control form-control--light" type="text" value=""></textarea>
                    </div>
                </div>
                <div class="project-layout__item u-1/1-lap-and-up">
                    <p>Lions Festivals takes your privacy seriously. Your data helps us to improve our products and services and to keep you up-to-date with what we offer. We will never sell your data to a third party. Please tick the appropriate box if you do not want Lions Festivals, our official awards partners or relevant i2i Events Group brands to contact you with information about our own products and services which we think will be of interest to you, by:</p>
                   <p class="text--center strong">Lions Festivals Limited, Company Number 7814172 (England). The Prow, 1 Wilder Walk, London W1B 5AP.</p>
                </div>
            </div>
           
        </div>

        {{> footer}}
	</body>
</html>
