<!DOCTYPE html>
<html class="no-js" lang="en">

	{{> head meta-title=home.meta-title meta-description=home.meta-description}}
	
	<body class="index">

		{{> browser-upgrade}}
      
        <header class="[ page-head ]">
            {{> navigation}}
            {{> subnavigation}}
        </header>
       
        {{> styleguide}}
        
        <div class="container container--content-offset--both">
           
            <h2>Colours</h2>
            
            <hr class="hr-fade--fancy" />

            
            
        </div>
        {{> footer}}
	</body>
</html>
