<!DOCTYPE html>
<html class="no-js" lang="en">

	{{> head meta-title=home.meta-title meta-description=home.meta-description}}
	
	<body class="index">

		{{> browser-upgrade}}
      
        <header class="[ page-head ]">
            {{> navigation}}
            {{> subnavigation}}
        </header>
       
        {{> styleguide}}
        
        <div class="container container--content-offset--both">
           
            <h2>Components</h2>
            
            <hr class="hr-fade--fancy" />

            
            <h5>Supplementary navigation</h5>
            {{> sup-nav}}
            
            <h5>Page jumps</h5>
            <h5>Pagitnation</h5>
            
            <h5>Cards</h5>
            <ul class="project-layout project-layout--tiny">
                <li class="project-layout__item u-1/4-lap-and-up ">{{> team-card}}</li>
                <li class="project-layout__item u-1/4-lap-and-up ">{{> team-card}}</li>
                <li class="project-layout__item u-1/4-lap-and-up ">{{> team-card}}</li>
                <li class="project-layout__item u-1/4-lap-and-up ">{{> team-card}}</li>
                <li class="project-layout__item u-1/4-lap-and-up ">{{> team-card}}</li>
                <li class="project-layout__item u-1/4-lap-and-up ">{{> team-card}}</li>
                <li class="project-layout__item u-1/4-lap-and-up ">{{> team-card}}</li>
                <li class="project-layout__item u-1/4-lap-and-up ">{{> team-card}}</li>
            </ul>

            
            <h5>Forms / Validation</h5>
        </div>
        {{> footer}}
	</body>
</html>
