<!DOCTYPE html>
<html class="no-js" lang="en">

	{{> head meta-title=home.meta-title meta-description=home.meta-description}}

	<body class="index">


        <header class="[ page-head ]">
            {{> navigation}}
        </header>
        
        <div class="container container--medium container--content-offset--both">
            <h1>Careers</h1>
        </div>
        
        {{> footer}}
	</body>
</html>
