<!DOCTYPE html>
<html class="no-js" lang="en">

	{{> head meta-title=home.meta-title meta-description=home.meta-description}}

	<body class="index">

        <header class="[ page-head ]">
            {{> navigation}}
            {{> subnavigation}}
        </header>
        
        <div class="container container--medium container--content-offset--both">
           
            <div class="project-layout">
              
                <div class="project-layout__item u-1/1-lap-and-up">
                    
                    <div class="posted">Posted: Apr 8, 2016 in Events</div>
                    <h1>Cannes Lions winners announced at first live-streamed awards show</h1>
                    

                    
                    <p>Winners of the Direct, Glass, Print & Publishing, Promo & Activation and Radio Lions were tonight announced at the 63rd International Festival of Creativity. Industry stars gathered at the red carpet ceremony to celebrate the benchmarks of world-class creativity and for the first time in Cannes Lions history, the show was live-streamed via Youtube. This series of awards were truly international, with entries from over 70 countries making the shortlists.</p>

                    <p>From a total of 3,458 entries in Promo & Activation, 107 Lions were awarded. The Grand Prix was claimed by “OptOutside” for outdoor retail company, REI, by Venables Bell & Partners, San Francisco – work that Jury President, Rob Reilly, Global Creative Chairman of McCann Worldgroup, called the bravest idea of the decade. “It’s about a brand living its authentic truth. A brand that places more value in its customers than short term profit and operates with conviction,” he said. “It didn’t impact culture, but exploded it.”</p>

                    <p>Print & Publishing received 3,777 entries and awarded 80 Lions. The Grand Prix went to “McWhopper” for Burger King, by Y&R NZ. Jury President, Joji Jacob, Group Executive Creative Director of DDB Group, said they chose the work because it had the ability to start the conversation and be the linchpin of a master campaign.</p>

                    <p>From a total of 3,097 entries, 75 Direct Lions were awarded and “The Swedish Number” for the Swedish Tourist Association, by INGO Stockholm, claimed the Grand Prix. This idea transcended tourism, becoming a demonstration of the country’s 250-year commitment to freedom of speech. “It’s refreshing to see a campaign that unites 9.5 million global brand ambassadors through the most direct form of communication: a one-to-one phone call,” said Mark Tutssel, Direct Lions Jury President.</p>

                    <p>Radio gained 1,410 entries and presented 51 awards. The Grand Prix was presented to “The Everyman Meal – Coloured Weights” for KFC, by Ogilvy & Mather, Johannesburg. The idea, said Jury President, Tom Eymundson, Chief Executive Officer and Director of Pirate Group Inc, touched everyone in the jury room, regardless of gender, age or nationality, it resonated.</p>

                    <p>Finally, winners of the Glass: The Lion for Change, devised in partnership with Lean In.Org and launched last year, were also announced. The award recognises work that positively impacts ingrained gender inequality, imbalance or injustice, and this year the Grand Prix was claimed by “6 Pack Band” for Hindustan Unilever, from Mindshare, Mumbai. Jury President, Madeline di Nonno, described the work as global, inclusive and impactful. “Gender equality is not only a women's issue. It includes all aspects of marginalisation, discrimination and unconscious bias faced by all genders.”</p>

                    <p>Entry fees from Glass will now be distributed to causes aligned with the goals of the award, including: UN Women, No Ceilings, Men Engage, Gender and Development Network, Geena Davis Institute on Gender in Media, Women for Women, Pro Mujer, Equality Now Inc. and Global Fund for Women. With the assistance of a unique giving platform created by in/PACT, Festival attendees will each be able to allocate €100 of proceeds (€25, up to four times) throughout the remainder of the Festival to their cause of choice, via the Cannes Lions App.  “This year, we are honored and excited to amplify our efforts, enabling delegates to play an active role,” said Kevin Eyres, CEO of in/PACT.</p>

                    <p>This year’s Festival has seen record-breaking award entries and over 15,000 attendees are expected to descend on Cannes before the end of the Festival week. And for the first time, the awards shows on Monday, Tuesday, Wednesday and Saturday, will be live-streamed via YouTube, taking the Lions to a broader, global audience.</p> 
                </div>    

            </div>
        </div>
        
        {{> footer}}
	</body>
</html>
