<!DOCTYPE html>
<html class="no-js" lang="en">

	{{> head meta-title=home.meta-title meta-description=home.meta-description}}

	<body class="index">

        <header class="[ page-head ]">
            {{> navigation}}
            {{> subnavigation}}
        </header>
        
        <div class="container container--medium container--content-offset--both">
           
            <h1>Press Releases</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut natus at consequatur laborum et cupiditate in labore numquam, quas iste explicabo maiores corporis pariatur laboriosam. Praesentium iusto saepe earum aut.</p>
            
            <div class="project-layout">
               
                <ul class="press-list [ list-bare ]">
                    <li class="press-list__item">{{> press-item}}</li>
                    <li class="press-list__item">{{> press-item}}</li>
                    <li class="press-list__item">{{> press-item}}</li>
                    <li class="press-list__item">{{> press-item}}</li>
                    <li class="press-list__item">{{> press-item}}</li>
                    <li class="press-list__item">{{> press-item}}</li>
                    <li class="press-list__item">{{> press-item}}</li>
                </ul>

                <div class="project-layout__item u-1/1-lap-and-up">
                    <a class="btn btn--full strong" href="">Load more</a>
                </div>
                
            </div>

        </div>
        
        
        {{> footer}}
	</body>
</html>
