/*------------------------------------*\
    #TYPOGRAPHY
\*------------------------------------*/

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);

body {
	font-family: 'Open Sans', sans-serif;
}

.strong {
	font-weight: 600;
}

a {
	color: $lions-yellow;
	text-decoration: underline;
	&:hover, &:focus {
		color: lighten($lions-yellow, 20%);
	}
}

::selection {
	background: $lions-yellow;
	color: $lions-dark-grey;
}
