/*------------------------------------*\
    #CONTAINER
\*------------------------------------*/

html, body {
    height: 100%;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 10px;
}

.container--small {
    max-width: 760px;
}
.container--medium {
    max-width: 860px;
}
.container--large {
    max-width: 960px;
}


.container--content-offset--top {
    margin-top: $inuit-base-spacing-unit--large;
}

.container--content-offset--bottom {
    margin-bottom: $inuit-base-spacing-unit--large;
}

.container--content-offset--both {
    margin-top: $inuit-base-spacing-unit--large;
    margin-bottom: $inuit-base-spacing-unit--large;
}

.container--content-pad--both {
    padding-top: $inuit-base-spacing-unit--large;
    padding-bottom: $inuit-base-spacing-unit--large;
}