// Brand colors
$primary:               #FFCC33 !default;
$secondary:             #343434 !default;
$tertiary:              #666666 !default;

$lions-yellow:          $primary;
$lions-dark-grey:       $secondary;
$lions-light-grey:      $secondary;