<!DOCTYPE html>
<html class="no-js" lang="en">

	{{> head meta-title=home.meta-title meta-description=home.meta-description}}

	<body class="index">
       
        <header class="[ page-head ]">
            {{> navigation}}
        </header>
        
        <section class="homepage-section">  
            Heading / Hero
        </section>
 
        <section class="homepage-section"> 
            <div class="homepage-section__inner">
                {{> homepage.festivals}}
            </div>
        </section>
        
        <section class="homepage-section [ background-style background-style--yellow ]"> 
            <div class="homepage-section__inner [ container container--small container--content-pad--both ] [ text--center ]">
                {{> homepage.sponsorship}}
            </div>
        </section>
        
        <section class="homepage-section"> 
            <div class="homepage-section__inner [ container container--content-pad--both ]">
                <h2>TEAM</h2>
                {{> homepage.team}}
            </div>
        </section>
        
        <section class="homepage-section [ background-style background-style--yellow ]"> 
            <div class="homepage-section__inner [ container container--content-pad--both ]">
                {{> homepage.contact}}
            </div>
        </section>
 
        {{> footer}}
	</body>
</html>
